*,
::before,
::after {
  box-sizing: border-box;
}
:root {
}
body {
  margin: 0;
  min-height: 100svh;
  display: grid;
  place-content: center;
  font-family: system-ui;
  background-color: rgb(51, 65, 85);
  background-image: radial-gradient(black, rgb(21, 36, 71));
}
.clock {
  --clock-clr-bg: steelblue;
  --clock-size: 800px;
  --clock-speed: 200ms;
  --clock-f-size: 0.9rem;
  --clock-f-color: white;

  position: relative;
  width: var(--clock-size);
  height: var(--clock-size);
  aspect-ratio: 1;
  place-content: center;
  background: var(--clock-clr-bg);
  border-radius: 50%;
}
/* clock center */
.clock::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 21;
  background-color: var(--clock-clr-bg);
  border: 1px solid rgba(255 255 255 / 0.25);
}
/* clock mask to cover all dates except the current date and time */
.clock::after {
  content: "";
  position: absolute;
  inset: 1px;
  margin: auto;
  background-color: rgba(0 0 0 / 0.8);
  clip-path: polygon(
    0 0,
    100% 0,
    100% 48%,
    50% 48%,
    50% 52%,
    100% 52%,
    100% 100%,
    0 100%
  );
  border-radius: 50%;
  z-index: 20;
}
.clock > div {
  position: absolute;
  inset: 0;
  margin: auto;
  width: var(--clock-size);
  height: var(--clock-size);
  aspect-ratio: 1;
  border-radius: 50%;
  font-size: var(--clock-f-size);
  color: var(--clock-f-color);
  transition: var(--clock-speed, 100ms) linear;
}
[data-clock="years"] {
  --clock-size: 780px;
}
[data-clock="seconds"] {
  --clock-size: 675px;
}
[data-clock="minutes"] {
  --clock-size: 600px;
}
[data-clock="hours"] {
  --clock-size: 525px;
}
[data-clock="days"] {
  --clock-size: 445px;
}
[data-clock="months"] {
  --clock-size: 340px;
  --clock-f-size: 0.8rem;
}
[data-clock="day-names"] {
  --clock-size: 180px;
  --clock-f-size: 0.8rem;
}
.clock > div > span {
  position: absolute;
  white-space: nowrap;
}
.clock > div > span.active {
  /*opacity: 1;*/
}
